* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
}

body {
  font-family: "Raleway", sans-serif;
}

main {
  background-color: var(--very-dark-blue);
  color: var(--pale-blue);
  min-height: 100vh;
  background-image: url("../images/bg-desktop.png");
  background-repeat: no-repeat;
  background-position: center 50vh;
  background-size: contain;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  position: relative;
}
main .container .section {
  padding: 45px;
  background-color: var(--dark-blue);
  border-radius: 10px;
}
main .container .section.options {
  border-top-right-radius: 90px;
  padding-right: 120px;
}
main .container .section.options .logo {
  margin-bottom: 30px;
}
main .container .section.options .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}
main .container .section.options .icons .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45px;
  height: 45px;
  background-color: var(--very-dark-blue);
  border-radius: 5px;
  cursor: pointer;
}
main .container .section.storage-plan .number {
  font-weight: bold;
}
main .container .section.storage-plan .usage-details {
  margin-bottom: 15px;
}
main .container .section.storage-plan .available-space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  position: absolute;
  right: 45px;
  top: 0px;
  background-color: #fff;
  padding: 15px 25px;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  font-weight: bold;
}
main .container .section.storage-plan .available-space::after {
  content: "";
  position: absolute;
  border: 20px solid #fff;
  border-color: transparent #fff transparent transparent;
  bottom: -19px;
  right: 0px;
}
main .container .section.storage-plan .available-space .number {
  font-size: 36px;
  color: var(--very-dark-blue);
}
main .container .section.storage-plan .available-space .gray {
  color: var(--grayish-blue);
  text-transform: uppercase;
  font-size: 12px;
}
main .container .section.storage-plan .progress {
  width: 450px;
  height: 20px;
  background-color: var(--very-dark-blue);
  border-radius: 50px;
  border: 3px solid var(--very-dark-blue);
  position: relative;
}
main .container .section.storage-plan .progress .bar {
  width: 14px;
  height: 100%;
  background-color: var(--dark-blue);
  background-image: -webkit-gradient(linear, left top, right top, from(hsl(4deg, 81%, 78%)), to(hsl(334deg, 91%, 67%)));
  background-image: linear-gradient(to right, hsl(4deg, 81%, 78%), hsl(334deg, 91%, 67%));
  position: relative;
  border-radius: inherit;
  -webkit-animation: bar-load 1.2s ease-in;
          animation: bar-load 1.2s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
main .container .section.storage-plan .progress .bar::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  right: 2px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
main .container .section.storage-plan .storage-range {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
}

/* Footer */
footer {
  text-align: center;
  min-height: 50px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 500px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 14px;
}
footer .content span {
  padding: 5px;
  color: #fff;
}
footer .content span:first-child {
  margin-left: -5px;
}
footer .content span a {
  color: hsl(334deg, 91%, 67%);
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer .content span a:hover {
  text-decoration: underline;
  color: hsl(4deg, 81%, 78%);
}

@media (max-width: 1024px) {
  main {
    background-position: bottom;
  }
  main .container .section.storage-plan .progress {
    width: 300px;
  }
}
@media (max-width: 768px) {
  main {
    background-image: url("../images/bg-mobile.png");
    background-position: right;
    background-size: cover;
  }
  main .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 100%;
    gap: 15px;
  }
  main .container .section.storage-plan {
    position: relative;
  }
  main .container .section.storage-plan .progress {
    max-width: 100%;
  }
  main .container .section.storage-plan .available-space {
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    top: auto;
    bottom: 0px;
    border-bottom-right-radius: 10px;
  }
  main .container .section.storage-plan .available-space::after {
    content: none;
  }
  main .container .section {
    max-width: 100%;
  }
}
@media (max-width: 425px) {
  main .container .section {
    padding: 30px;
    width: 100%;
  }
  main .container .section.storage-plan .available-space {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px;
  }
}
@-webkit-keyframes bar-load {
  to {
    width: 81.5%;
  }
}
@keyframes bar-load {
  to {
    width: 81.5%;
  }
}/*# sourceMappingURL=main.css.map */